html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  /* width: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.menu-font-item {
  font-family: "Clicker Script", cursive;
  /* font-weight: 900; */
  font-weight: bold;
  font-style: normal;
  color: #afc27a;
}
.menu-font-item:hover {
  color: rgba(255, 241, 49, 0.7);
}
.menu-button {
  width: 90px;
  height: 90px;
  border-radius:50%;
}
.menu-button:hover {
  /* border: 1px solid rgba(255, 241, 49, 0.7); */
  box-shadow: 0px 0px 10px 10px rgba(243, 255, 70, 0.2);
  border-color: #fdff6e #ffa238 #ffa238 #fdff6e;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #afc27a;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(175, 194, 122, 0.2);
  border-radius: 5px;
}
.main-body {
  width: 100%;
}
.main-body,
.secondary-body {
  height: 100vh; /* Ensures each section takes up the full viewport height */
  width: 100%;
  position: relative;
  z-index: 1; /* Ensures the content stays on top of the background */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-center {
  position: absolute;
  /* height: calc(100% - 10rem); */
  width: 100%;
}

.discription-title {
  border-bottom: 1px solid rgb(252, 22, 22);
  padding-right: 5px;
  display: flex;
  flex-direction: row-reverse;
}
.align-text-end {
  text-align: end;
}
.nav-tabs {
  position: sticky;
  /* padding: 1rem 0px 1rem 0px; */
  top: 1.5rem;
  z-index: 1000;
}
.nav-scroll-tabs {
  position: sticky;
  /* padding: 1rem 0px 1rem 0px; */
  top: 1rem;
  z-index: 1000;
}
.footer {
  position: sticky;
  /* padding: 1rem 0px 1rem 0px; */
  bottom: 0;
  height: 42px;
  padding: 5px 2px 0px 5px;
  z-index: 1000;
}
.footer-scrolled {
  position: sticky;
  /* padding: 1rem 0px 1rem 0px; */
  bottom: 0;
  height: 42px;
  padding: 5px 2px 0px 5px;
  z-index: 1000;
  background-color: rgba(65, 62, 62, 0.5);
}
.scroll-top {
  margin-top: 1rem;
  background-color: rgba(255, 241, 49, 0.7);
}
.nav-tab {
  width: 180px;
  padding: 3px;
  border: 1px solid rgba(255, 241, 49, 0.7);
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
.is-selected {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 0px 10px 10px rgba(243, 255, 70, 0.2);
  border-color: #fdff6e #ffa238 #ffa238 #fdff6e;
}
.pad-t-3 {
  padding-top: 3rem;
}

.d-flex-row-arround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.d-flex-row-space-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.d-flex-row-no-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-b-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.d-flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-values{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: aliceblue;
  padding-left: 2px;
}
.d-flex-col-cent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-flex-col-cent span {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.self-start {
  align-self: self-start;
}
.self-end {
  align-self: self-end;
}
.selected-title {
  color: #f9eb1a;
  font-family: cursive;
  font-size: 100px;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}
.field-value {
  font-family: "Open Sans";
  font-size: 22px;
  color: rgb(255, 249, 241);
}
.label-fonts {
  font-family: "Open Sans";
}
.menu-section {
  font-family: "Open Sans";
  font-size: 16px;
  color: rgb(255, 249, 241);
}
.value-color {
  color: rgb(255, 249, 241);
}
.title-value {
  font-family: "Angkor";
  font-size: 22px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.marg-20 {
  margin: 20px;
}
.fl-end {
  float: inline-end;
}
.image-map-container > div:nth-child(2) {
  border: 1px solid black;
  border-radius: 8px;
}
.image-map-container img {
  border: 1px solid black;
  border-radius: 8px;
}
@media only screen and (min-width: 800px) {
  .desktopContainerStyle {
    width: 400px;
    height: 500px;
  }
  .secondary-phase {
    height: 90%;
    margin-top: 3rem;

  }
  .middle-title {
    margin-top: 2rem;
  }
  .secondary-title {
    margin-bottom: 4rem;
  }
  .container-style {
    width: 400px;
    height: 500px;
    margin: 20px;
  }

  .image-map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container-dropdown {
    width: 400px;
    height: 500px;
  }
  .phone-img {
    display: none;
  }
  .google-map-container{
    width: 400px;
    height: 500px;
  }
  /* .image-map-container > div:nth-last-child(2) {
    width: 400px;
    height: 500px;
  } */
}

.d-flex-center img {
  border: 1px solid #fdff6e;
  border-radius: 8px;
}
@media only screen and (max-width: 800px) {
  .secondary-phase {
    height: 50%;
  }
  .img-rotate {
    display: none;
  }

  /* .description-container {
    display: none;
  } */
  .selected-title {
    font-size: 20px;
  }
  .secondary-title {
    margin-bottom: 3rem;
  }
  /* .image-map-container div {
    height: 350px;
  } */
  .main-area-container {
    width: 90%;
    height: 70%;
  }
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-navs {
    margin-top: 3rem;
  }
  .container-style {
    width: 90%;
    /* height: 500px */
  }
  .container-dropdown {
    width: 80%;
    height: 350px;
  }

  .image-map-container {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    margin: auto;
  }
  .image-map-container > div:nth-last-child(1) {
    width: 80%;
    height: 500px;
  }
  .phone-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .phone-img > img {
    width: 99%;
  }
  .first-title {
    margin-top: 2rem;
  }
  .google-map-container{
    width: 100%;
    height: 350px;
  }

}

.facebook-icon > svg {
  fill: #ffffff;
}

.circle-down-icon > svg > path {
  stroke: #fffb1a;
}
.circle-down-icon > svg > path {
  stroke: #fffb1a;
}
.circle-down-icon > svg > path:nth-child(2) {
  stroke: #f9eb1a;
}
.c-pointer {
  cursor: pointer;
}

div > svg {
  cursor: pointer;
}
/* div > svg:hover { */
/* color:  #acff69; */
/* background:  #acff69; */
/* border-radius: 50%;; */
/* } */

div svg path:hover {
  stroke: #acff69;
}
div > svg > path:nth-child(2):hover {
  stroke: #acff69;
}
